SECRET_KEY = secret_key
POSTGRES_DB = db_name
POSTGRES_USER = user
POSTGRES_PASSWORD = password
POSTGRES_HOST = host
POSTGRES_PORT = port
DEBUG = True
ALLOWED_HOSTS = localhost,127.0.0.1,<DOMAIN>
CSRF_TRUSTED_ORIGINS = https://<DOMAIN>