<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container-fluid">
    <div class="d-flex">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Техника
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="http://127.0.0.1:8000/vehicle_type_create/">Создать тип</a></li>
        <li><a class="dropdown-item" href="http://127.0.0.1:8000/vehicle_type_list_delete/">Список типов</a></li>
        <li><a class="dropdown-item" href="http://127.0.0.1:8000/vehicle_create/">Создать технику</a></li>
        <li><a class="dropdown-item" href="http://127.0.0.1:8000/vehicle_list_delete/">Список техники</a></li>
      </ul>
    </div>

    <div class="btn-group me-2">
      <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Запчасти
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="http://127.0.0.1:8000/spare_part_type_create/">Создать тип</a></li>
        <li><a class="dropdown-item" href="http://127.0.0.1:8000/spare_part_type_list_delete/">Список типов</a></li>
        <li><a class="dropdown-item" href="http://127.0.0.1:8000/spare_part_create/">Создать запчасть</a></li>
        <li><a class="dropdown-item" href="http://127.0.0.1:8000/spare_part_list_delete/">Список запчастей</a></li>
      </ul>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Атрибуты
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="http://127.0.0.1:8000/attribute_create/">Создать атрибут</a></li>
        <li><a class="dropdown-item" href="http://127.0.0.1:8000/attribute_list_delete/">Список атрибутов</a></li>
      </ul>
    </div>
    </div>
  </div>
</nav>